* {
    padding: 0;
    margin: 0;
}


.clearfix {
    content: "";
    clear: both;
    display: block;
}

header.header {
    /* width: 100%; */
    height: 80px;
    /* background: orange; */
    position: fixed;
    position: relative;
    opacity: 1;
    margin-left: 60px;
    color: black;
    background: transparent;
    display: inline-block;

}
.header .visual-text{
}


.header h1 {
    height: 80px;
    float: left;
}

.header img {
    width: 62px;
    height: 32px;
    margin-right: 36px;
}

.visual-text .subject {
    line-height: 80px;
    margin-bottom: 16px;
    font-size: 60px;
    font-weight: 900;
    color: white;
    margin:0 auto;
}

.visual-text p {
    font-size: 20px;
    font-weight: normal;
    line-height: 30px;
    color: white;
    
}


.visual-text {
    /* margin: 0;
    padding: 0; */
    /* height: 851px; */
        margin: 0 auto;
}

.header-visual button {
    width: 250px;
    height: 56px;
    margin: 80px 0 0;
    padding: 1px 6px;
    background-color: rgb(5, 92, 245);
    font-size: 18px;
    justify-content: center;
    border: none;
    border-radius: 2px;
    color: white;
    font-weight: bold;
}

.header-visual {
    background: no-repeat url(https://www.miso.kr/home-service-page/main-02-desktop.jpg);
    background-size: cover;
    height: 852px;
    margin-bottom: 12px;
    padding-top: 200px;
    width: 100%;

}





/* 
.header {
    height: 80px;
    position: relative;  
    margin: 50px;
    background-color: cadetblue; 
}

.logo {
    position: relative; 
}

.logo a {
    width: 60px; 
    margin-left: 20px;
    position: absolute;
    top: 0;
    left: 0;
}

.logo img {
    width: 100%;
}

.header,
.footer, section {
    width: 830px;
    margin: 0 auto;
}

.navigation {
    background-color: aqua;
    width: 700px;
    margin-left: 60px;
}

.open-navigation {
    float: left;
    background-color: orange;
}

.open-navigation li {
    float: left;
    background-color: chartreuse;
    padding: 0 14px; 
}

.client-menu li {
    background-color: tomato; 
    float: right; 
    padding: 0 14px; 
}
